/*General Layout*/
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*Main Container*/
.hero-search{
    min-height: 100vh;;
    display: grid;
    grid-template-areas: 
    "header"
    "main";
    grid-template-columns: 1fr;
    grid-template-rows: 120px 2fr;
    background-color: rgb(230, 223, 223);
    border-radius: 10px;
    
    justify-content: center;
    text-align: justify;
}

header{grid-area: header;}
main{grid-area: main;}

/*============== HEADER ==============*/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid rgb(5, 71, 146);
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(55, 93, 159);
}

header h1{
    color: white;
    font-size: 1.5em;
}

/*================ MAIN =================*/
/*Search Section*/
main{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
}
.search-container{
    margin-top: 5px;
    
}

.search-container p{
    font-size: 1em;
    color: rgb(22, 21, 21);
    margin-bottom: 15px;
}

#searchField{
    width: 80%;
    max-width: 350px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-right: none;
}

#searchField:focus {
    border-color: #007bff;
}

/*Search Button*/
#searchButton {
    padding: 10px 20px;
    background-color: rgb(164, 52, 52);
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#searchButton:hover {
    background-color: rgb(32, 47, 207);
}

/*Results Section*/
h2{
    margin-top: 30px;
    font-size: 1.2em;
    border-bottom: 2px solid rgb(83, 81, 81);
    padding-bottom: 5px;
}

#result{
    margin-top: 20px;
    text-align: left;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    min-height: 60px;
}

#result h3 {
    margin-bottom: 5px;
}

#result h4 {
    margin-top: 0;
}

#result ul {
    padding: 0;
    margin: 0;
}

#result li {
    margin 5px 0;
    padding: 8px 12px;
    border-radius: 5px;
}

#result #notFound{
    color: rgb(164, 52, 52);
}